
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Bark推送</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <form class="layui-form" action="BarkfowardStatusChange" method="post">
            <div class="layuimini-main">
                <div class="layui-form layuimini-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">Bark推送:</label>
                        <div class="layui-input-block">
                            <input type="checkbox" @ViewBag.status name="kg" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">服务器地址:</label>
                        <div class="layui-input-block">
                            <input type="text" name="barkServerUrl" value="@ViewBag.barkServerUrl" lay-verify="required" class="layui-input" lay-reqtext="服务器地址不能为空" placeholder="请输入Bark服务器地址，如 https://api.day.app">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">设备Key:</label>
                        <div class="layui-input-block">
                            <input type="text" name="barkDeviceKey" value="@ViewBag.barkDeviceKey" lay-verify="required" class="layui-input" lay-reqtext="设备Key不能为空" placeholder="请输入Bark设备Key">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-normal" value="提交" name="sub" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
</body>
</html>
