name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: ls -l && dotnet publish -r linux-arm64 /p:PublishSingleFile=true
    - name: Upload File
      uses: actions/upload-artifact@master
      with:
          name: smsmanager
          path: ./smsmanager/bin/Debug/net5.0/linux-arm64/publish
